.inputTexto-container {
    display: flex;
    flex-direction: column;

}

.label-container {
    display: flex;
    gap: 5px;
    text-align: left;
}

.label-container label {
    display: flex;
    gap: 5px;
    text-align: left;
    margin-bottom: 5px;
}


.texto-obrigatorio {
    text-align: left;
    color: #E74C3C;
    font-size: 12px;
    margin-top: 4px;
}

.texto-obrigatorio-container {
    text-align: left;
}

.inputTexto {
    padding: 0.50rem 0.75rem 0.50rem 0.75rem;
    border-radius: 8px;
    border: 1px solid #E0E5EB;
    background-color: #F9FAFB;
    transition: border-color 0.3s ease;
}

.inputTexto:focus {
    border: 1px solid var(--color-accent);
    outline: var(--color-accent);

}

.obrigatorio {
    color: red;
}

.texto-obrigatorio-container {
    height: 18px;
}