.abasPerfil {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.abasBotao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 50px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    color: var(--color-text-muted);
}


.abasBotao.active {
    background-color: #f2f2f2;
    color: #000000;
}

.abasBotao.active svg{
    color:  #000000;
}

.abasBody {
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    min-height: 500px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #E0E5EB;
}