.card-imovel {
    position: relative;
    width: 400px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

}

.card-imovel-top {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-imovel-top .tag-ativo {
    background-color: var(--color-accent);
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 0.9em;
    cursor: default;
}

.card-imovel-top .favorito {
    background-color: #FEF8F0;
    border: none;
    color: var(--color-text-muted);
    font-size: 1.5em;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 100px;
}

.card-imovel-top .favorito.active {
    color: var(--color-accent);
}

.card-imovel-top .favorito svg {
    width: 20px;
    height: 20px;
}

.card-imovel img {
    width: 100%;
    height: auto;
    display: block;
}

.card-imovel svg {
    margin-top: 5px;
}

.card-imovel-body {
    padding: 15px;

}

.card-imovel-footer .valor {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-accent);
}