.modalEditarPropriedade .descricao {
    display: flex;
    flex-direction: column;

}

.modalEditarPropriedade .modal-conteudo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.minhas-propriedades-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.minhas-propriedades-header button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    padding: 5px 0px;
    height: 50px;
}