.nenhumFavorito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    text-align: center;
    color: var(--color-text-muted);
    height: 400px;
}

.nenhumFavorito svg {
    width: 25px;
    height: 25px;
}